<?xml version="1.0"?>
<robot name="$(arg robot_name)" xmlns:xacro="http://www.ros.org/wiki/xacro">



<!-- geometry macros -->
<xacro:macro name="chassis_geometry">
  <geometry>
    <mesh filename="package://amzsim_car_visualization/cars/$(arg robot_name)/meshes/whole_car.stl" scale = "0.001 0.001 0.001" />
  </geometry>
</xacro:macro>

 <!-- color of the car -->
<material name="color">
  <color rgba="0.5 0.0 0.0 1.0"/>
</material>


    <xacro:macro name="body_chassis">

        <link name="base_link_sim">
        </link>

        <joint name="base_link_sim_cog_joint" type="fixed">
            <parent link="base_link_sim"/>
            <child link="cog"/>
            <origin xyz="${dist['base_link_sim']['cog']['x']}
                         ${dist['base_link_sim']['cog']['y']}
                         ${dist['base_link_sim']['cog']['z']}"
                    rpy="0 0 0"/>
        </joint>

        <link name="cog" type="fixed">
        </link>

        <joint name="base_link_sim_joint" type="fixed">
            <parent link="cog"/>
            <child link="chassis"/>
            <origin xyz="${dist['cog']['chassis']['x']}
                   ${dist['cog']['chassis']['y']}
                   ${dist['cog']['chassis']['z']}"
                    rpy="0 0 0"/>
            <axis xyz="1 0 0"/>
        </joint>

        <link name="chassis">

            <visual>
                <xacro:chassis_geometry/>
                <material name="color"/>
            </visual>

        </link>
   </xacro:macro>


</robot>
